* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.window {
  color: white;
  background: #0094FF;
  margin: 20px auto;
  width: 400px;
  border: 4px solid #007AFF;
}

h1 {
  font-size: 24px;
  font-weight: normal;
  padding: 15px;
  border-bottom: 1px solid #fff;
}

form {
  padding: 15px;
}

label:not(.result-label) {
  cursor: pointer;
}

input {
  display: block;
  margin-bottom: 15px;
}

input:not(.button) {
  width: 90%;
}

.button {
  padding: 10px;
  background: #F0E68C;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: rgb(224, 211, 93);
}